body {
  margin: 0;
  font-family: "Red Rose";
}

.connect{
  padding: 5px 20px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  border: none;
}

.connect a{
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
}

.hero{
  margin-top: 50px;
}

.hero-heading{ 
font-family: inherit;
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 140%;
letter-spacing: -0.02em;
color: #434343;
}

.hero-text{
  font-family: inherit;
  font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 35px;
color: #434343;
margin-top: 20px;
}

.colored-text{
  color: #A02279;

}
.search-box{
  display: flex;
  margin-top: 25px;
}

.search{
  padding: 5px 20px;
  border-radius: 8px 0px 0px 8px;
  width: 380px;
  border: 1px solid #A3A3A3;
  background: rgba(247, 247, 247, 0.1);
}

input::placeholder{
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #B8B8B8;
}

.search-btn{
  width: 220px;
  padding: 5px 20px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 0px 8px 8px 0px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  border: 1px solid #A02279;
}

.hero-image-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-image{
  margin-top: 50px;
}


.logo-house{
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  max-width: 100%;
  padding: 10px 100px;
  gap: 20px;
}

.icon{
  width: 100px;
}



@media (min-width: 500px){
  .icon{
    width: 120px;
  }
}

@media (min-width: 600px){
  .hero-heading{
    font-size: 56px;
  }

  .hero-text{
   font-size: 24px;
  }

  .logo-house{
    gap: 40px;
  }
}


@media (min-width: 768px){
  .hero-heading {
    width: 646px;
  }

  .hero-text{
    width: 600px;
  }

  .logo-house{
    gap: 60px;
  }
}


@media (min-width: 1000px){
  .logo-house{
    gap: 200px;
  }

  .logo-image{
    margin-top: 0;
  }
}


@media (min-width: 1240px){
  .logo-house{
    gap: 300px;
  }
}




@media (max-width: 400px){
  .search{
   width: 330px;
  }
}


@media (max-width: 990px){
  .connect{
    margin-top: 10px;
  }
}

