body {
  margin: 0;
  font-family: "Red Rose";
}

.connect{
  padding: 5px 20px;
  background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
  border-radius: 10px;
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  border: none;
}

.connect a{
  color: #fff;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
}

@media (max-width: 990px){
  .connect{
    margin-top: 10px;
  }
}
